<h1>Register a new animal</h1>
<form method="POST" action="/animals">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div class="form-el">
      <label for="age">Type:</label>
      <input type="text" name="type" id="type"/>
    </div>

    <div class="form-el">
      <label for="admission_date">Admission Date:</label>
      <input type="text" name="admission_date" id="admission_date"/>
    </div>

    <div class="form-el">
      <label for="adoptable">Ready for adoption?</label>
      <input type="text" name="adoptable" id="adoptable"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Shelter Animal"/>
    </div>

  </div>
</form>
